name: API Tests

on:
  workflow_dispatch:
    inputs:
      SCENARIO:
        type: choice
        default: '-m login'
        options:
          - '-m login'
          - 'tests/test_user_api.py'
          - '--html=reports/pytest_report.html -m smoke'
        required: true
        description: 'Pytest scenario'

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Build base Docker image
        run: docker build -f Dockerfile.base -t base-service .

      - name: Start test services
        run: docker compose -f docker-compose.ci.yaml up -d --build

      - name: Wait for services
        run: sleep 30  # или лучше использовать docker compose wait

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create report directory
        run: mkdir -p ./reports/${{ github.run_id }}

      - name: Run tests
        run: pytest ${{ github.event.inputs.SCENARIO }} --html=./reports/${{ github.run_id }}/index.html
        env:
          API_BASE_URL: http://localhost:8080  # если используете локальные сервисы

      - name: Deploy HTML report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          keep_files: true
          publish_dir: reports
          publish_branch: gh-pages

      - name: Stop test services
        if: always()
        run: docker compose -f docker-compose.ci.yaml down -v